<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
</head>
<body>
    <h2>Fetch Patient</h2>
    <form method="post">
        {{ fetch_form.as_p }}
        <input type="submit" value="Submit">
    </form>
    {{ error }}
    {% if patient %}
      <p>User's Name:{{ patient.first_name }} {{ patient.last_name }}</p>
      <p>Unique ID:{{ patient.id }}</p>
      <p>Date of Birth:{{ patient.day_of_birth }}</p>
    {% endif %}
</body>


</body>
</html>


<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charseto="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fetch Form</title>
</head>
<body>
    <h2>Fetch Form</h2>
    <form action="submit_form.php" method="post">
        <label for="unique_id">Unique ID:</label><br>
        <input type="text" id="unique_id" name="unique_id" required><br><br>
        <input type="submit" value="SUBMIT">
    </form>
</body>
</html>